.NavButton {
  /* sizing */
  height: 4rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  /* display */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* styling */
  border-radius: 2rem;
  border: none;
  background-color: white;
  transition: color 0.2s ease;
}

.NavButton:hover {
  color: white;
}

.NavButton:active {
  opacity: 0.9;
}

.isCurrent-icon {
  display: grid;
  place-content: center;
}

.isCurrent-icon > svg {
  animation: fade-in 0.3s ease-in-out;
}

.NavButton.current {
  background-color: var(--tertiary-color);
  color: white;
  pointer-events: none;
  cursor: default;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
