.add-car-form {
  /* sizing */
  flex: 1;
  /* display */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.input-container {
  /* sizing */
  width: 80%;
  /* display */
  display: flex;
  justify-content: space-between;
}

.input-container:nth-child(1) {
  margin-top: 5rem;
}

.price-container {
  width: 80%;
}
