.filter-by-old {
  /* sizing */
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  align-self: flex-start;
  /* styling */
  border-radius: 2rem;
  border: 2px solid var(--quinary-color);
  background-color: white;
}

.cars-container {
  /* sizing */
  height: fit-content;
  width: 100%;
  /* display */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* positioning */
  margin-top: 4rem;
  /* styling */
  overflow: scroll;
  background-color: var(--tertiary-color);
}
