@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --primary-color: #f0f1fa;
  --secondary-color: #e8e9f1;
  --tertiary-color: #0a21c0;
  --quaternary-color: #050a44;
  --quinary-color: #141619;
}

.App {
  /* sizing */
  height: 100vh;
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  /* positioning */
  position: relative;
  /* styling */
  background-color: var(--primary-color);
  overflow: hidden;
}

.sub-page {
  /* sizing */
  height: 100%;
  width: 65%;
  padding: 2rem 4rem;
  /* display */
  display: flex;
  flex-direction: column;
  /* styling */
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.3rem #0000001e;
}

.page-heading {
  width: fit-content;
  font-size: 3rem;
}

.page-subheading {
  opacity: 0.7;
  font-style: italic;
}

button {
  cursor: pointer;
}

button.blue-slide {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button.blue-slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  border-radius: 5rem;
  background-color: var(--tertiary-color);
  transition: all 0.2s ease-out;
}

button.blue-slide:hover {
  color: white;
}

button.blue-slide:hover::before {
  left: 0;
}
